[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python src"
lint = "python -m autopep8 -r ./src --diff"
fix = "python -m autopep8 -r ./src --in-place"
